body {
    font-family: Roboto, sans-serif;
}

img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border-bottom: 0.1em solid #f1f1f1;
    width: 30%;
    margin: 0 calc((100% - 30%)/2);
    padding: 0.5em 0;
}