body {
    font-family: Nunito, sans-serif;
    background-color: #F5D9D5;
}

.navbar {
    font-weight: 300;
    font-size: 1.5em;
    padding: 0.2em 0.2em;
}

.navbar-brand, .navbar-brand:hover {
    text-transform: uppercase;
    color: #EA1C4D;
    font-size: 1em;
}

.nav-link {
    text-transform: uppercase;
    color:white;
}

.nav-link:hover {
    color: #EA1C4D;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

.blurb {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

#headerGroup h1 {
    color: white;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 2em;
}

#headerGroup span {
    color: red;
}

#main-content p {
    color: #F49BB9;
    font-weight: 200;
    line-height: 2em;
    font-size: 1.125rem;
}

#main-content h2 {
    text-transform: uppercase;
    font-weight: 200;
    color: #EA1C4D;
    font-size: 2em;
}

@media (min-width: 1200px) {
    #headerGroup h1 {
        font-size: 3em;
    }
}